*{
    padding: 0;
    margin: 0;
}
body{
    background: #f2f2f2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
.button{
    min-width:30%;
    height: 40px;
    border: none;
    background-color: #fff;
    color: #3d4d57;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.button:hover{
    background-color: #ED0404;
    color: #fff;
}
/* Header Start */
header{
    background-color:#3d4d57;
    color: #ED0404;
    padding-top: 30px;
    min-height: 70px;
    
}

#title{
    float: left;
}
#title h1{
    font-weight: bold;
}
header .container nav{
    float: right;
    margin-top: 10px;
}
header .container nav ul{
    list-style: none;
    
}
header .container nav li{
    float: left;
    display: inline;
    padding-right: 20px;
}
header .container nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    
}
header .container nav ul li a:hover{
    color: #ED0404;
    font-weight: bold;
}
/* Header End */
/*Search Start*/
#search-area{
    background-color: rgb(255, 217, 0);
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}
#search-donor{
    display:flex;
    justify-content: center;
    align-items: center;
}
#search-title{
    flex:1;
    padding-left: 0 20px;
}
#search-title h1{
    font-size: 40px;
    font-weight: bold;
    color: #3d4d57;
    text-align: center;
    padding-right: 50px;
}
#search-form{
    flex:1;
    display: flex;
    flex-direction: column;
}
#form-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    
}

#blood-group{
    flex:1;
    padding-bottom: 10px;
}
#blood-group label{
    font-size: 20px;
    font-weight: bold;
    color: #3d4d57;
    display: block;
}
#blood-group select{
    width: 60%;
    height: 40px;
    border: 1px solid #3d4d57;
    border-radius: 5px;
    padding-left: 10px;
}
#district{
    flex:1;
    padding-bottom: 10px;
}
#district label{
    font-size: 20px;
    font-weight: bold;
    color: #3d4d57;
    display: block;
}
#district select{
    width: 60%;
    height: 40px;
    border: 1px solid #3d4d57;
    border-radius: 5px;
    padding-left: 10px;
}
#search-btn{
    flex: 1;
}
#search-btn input{

    background-color: #3d4d57;
    color: #fff;
    border: none;
    min-width: 60%;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    
}
#search-btn input:hover{
    background-color: #ED0404;
    color: #fff;
}
/*Search End*/
/*Join Us Start*/
#join-area{
    background-color: rgb(126, 27, 27);
    padding: 50px;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#join-area h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#join-area #join-btn{
    text-align: center;

    

}
/*Join Us End*/
/* Register Start */

#register-area{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow: hidden;
    
}
#register-area label{
    font-size: 20px;
    font-weight: bold;
    color: #3d4d57;
    display: block;
}
#register-area input, #register-area select{
    width: 100%;
    height: 40px;
    border: 1px solid #3d4d57;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;

}
#register-area input[type="submit"]{
    background-color: #fff;
    color: #000;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#register-area input[type="submit"]:hover{
    background-color: #ED0404;
    color: #fff;
}

/* Register End */
/* Login Start */


#login-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    
}
#login-area h1{
    font-size: 30px;
    font-weight: bold;
    color: #3d4d57;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#login-box label{
    font-size: 20px;
    font-weight: bold;
    color: #3d4d57;
    
}
#login-box input{
    height: 40px;
    border: 1px solid #3d4d57;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;

}
#username-box{

    padding-bottom: 10px;
}
#username-box input{
    width: 100%;
}
#password-box{

    padding-bottom: 10px;
}
#password-box input{
    width: 100%;
}
#login-button input[type="submit"]{
    background-color: #fff;
    color: #000;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login-button input[type="submit"]:hover{
    background-color: #ED0404;
    color: #fff;
}
#forgot{
    text-align: right;
    
}
/* Login End */

/*Footer Start*/
footer{
    background-color: #3d4d57;
    color: white;
    padding: 20px;
    /* text-align: center; */
}
/*Footer End*/
